{% extends 'base.html' %}

{% block content %}

<div class="about_page_four rounded-lg">
  <div class="about_page_div jumbotron p-3 p-md-5 text-white rounded-lg bg-dark shadow-sm d-none d-sm-block">
    <div class="col-md-2 px-4">
      <h1 class="display-4 font-italic" id="about-us-brand"><span class="about_page_span">A</span>cademy<span class="about_page_span"> R</span>evolutionary<span class="about_page_span"> C</span>onfideration </h1>
      <p class="lead my-5">Past is in you head, Future is in you hands . . .</p>
    </div>
  </div>

<main class="about ">
  <div class="container">
    <section class="grid info">
      <div class="column-xs-12 column-md-7">
        <div class="intro row featurette m-2 container d-flex flex-row justify-content-around mt-4 mb-5 profile-area p-5 rounded shadow">
          <h2><span class="about_page_span">A</span>cademy<span class="about_page_span"> R</span>evolutionary<span class="about_page_span"> C</span>onfideration </h1>
          <p>
            <span class="about_page_span">ARC</span>.com is an online learning platform aimed at professional adults and students. 
            <span class="about_page_span">ARC</span>, a portmanteau of you + academy, has more than 30 million students and 50,000 instructors teaching courses in over 60 languages. There have been over 245 million course enrollments. Students and instructors come from 190+ countries and 2/3 of students are located outside of the U.S. 
            <span class="about_page_span">ARC</span> also has over 4,000 enterprise customers and 80% of Fortune 100 companies use 
            <span class="about_page_span">ARC</span> for employee upskilling 
            (<span class="about_page_span">ARC</span> for Business). Students take courses largely as a means of improving job-related skills. Some courses generate credit toward technical certification. 
            <span class="about_page_span">ARC</span> has made a special effort to attract corporate trainers seeking to create coursework for employees of their company.</p>
          <p>
            <span class="about_page_span">ARC</span> believes that Past is in you head, Future is in you hands . . .</p>
        </div>
      </div>            
        <div class="container d-none d-sm-block">
          <img class= "ml-4 rounded"src="https://losscontrolblogdotcom.files.wordpress.com/2016/01/career.jpg">
        </div>
        <div class="row featurette m-2 container d-flex flex-row justify-content-around mt-4 mb-5 profile-area p-5 rounded shadow">
          <div class="col-md-7">
            <h2 class="featurette-heading mt-4">Kenny </h2>
            <p class="lead">I like cars and I like em fast.</p>
            <p id="kenny-para">My motto - "Drive it like you stole it"</p> 
          </div>
          <div class="col-md-5 mt-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded shadow-lg" id="kenny-pic" width="350" height="350" src="https://i.imgur.com/KnEiQEG.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></img>
        </div>
      </div>
        <hr>
          <div class="row featurette m-2 container d-flex flex-row justify-content-around mt-4 mb-5 profile-area p-5 rounded shadow">
            <div class="col-md-7 order-md-4">
              <h2 class="featurette-heading">Jeff </h2>
              <p class="lead">Basketball is my favorite sport.</p> 
              <p id="jeff-para">Favorite quote - "I like the way they dribble up and down the court."</p> 
            </div>
            <div class="col-md-5 order-md-1">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded shadow-lg" id="jeff-pic" width="350" height="350" src="https://i.imgur.com/1Ktegu1.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><rect width="100%" height="100%" fill="#eee"></rect></img>
          </div>
        </div>
        <hr>
          <div class="row featurette m-2 container d-flex flex-row justify-content-around mt-4 mb-5 profile-area p-5 rounded shadow">
            <div class="col-md-7">
              <h2 class="featurette-heading">Felipe Costa  </h2>
              <p class="lead">They call me Felipe. I'm the boss around here.</p>
              <p id="felipe-para">Words of wisdom: "I'm the captain now."</p>
            </div>
            <div class="col-md-5">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded shadow-lg" id="felipe-pic" width="350" height="350" src="https://i.imgur.com/ibHDpYH.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></img>
            </div>
          </div>
        <hr>
          <div class="row featurette m-2 container d-flex flex-row justify-content-around mt-4 mb-5 profile-area p-5 rounded shadow">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Pouyesh </h2>
              <p class="lead">This site is perfectly balanced. As all things should be.</p>
              <p id="pouyesh-para">Words to live by: "Do ya step, you can do it all by yourself."</p>            
            </div>
            <div class="col-md-5 order-md-1">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded shadow-lg" id="pouyesh-pic" width="350" height="350" src="https://i.imgur.com/iciFSLn.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><rect width="100%" height="100%" fill="#eee"></rect></img>
            </div>
          </div>
        <hr>
      </section>
    </div>
  </main>
</div>

{% endblock %}
