{% extends 'base.html' %}

{% block content %}

<section class="course-list-intro">
<div class="course-list-intro-container">
    <h1 class="course-list-intro-text">All courses</h1>
    <h2 class="course-list-intro-text">Hey {{user.first_name}}, ready to unlock oportunities?</h2>
</div>
</section>

<main class="course-list-main">
<section class="course-list-container">
  {% for course in courses %}

      
        <div class="course-list-div flex-column">
          <div class="course-list-div-description">
            <div class="course-list-div-text">
              <strong class="course-list-div-category">{{ course.category }}</strong>
              <h3 class="course-list-div-title">{{ course.title }}</h3>
              <div class="mb-1 text-muted">Start Date: {{ course.start_date }}</div>
            </div>
            <div class="course-list-div-btn">
              <a class="btn btn-outline-info btn-sm" href="{% url 'course_detail' course_slug=course.slug %}">View details</a>
              <a class='btn btn-outline-warning btn-sm' href="{% url 'purchase_create' course_slug=course.slug %}">Unlock this oportunity!</a>
            </div>
          </div>
            {% comment %} <a href="#" class="btn btn-outline-success stretched-link">Continue reading</a> {% endcomment %}
            <img class="course-list-img"  src={{ course.photo_url }}>
            
          
        </div>

   {% endfor %}
  </section>
</main>

{% endblock %}



