{% extends 'base.html' %}

{% block content %}

<body class="home-page-body">
  <div class="welcomeToArc_container jumbotron text-center">
      <h1 class="welcomeToArc_title display-4">Welcome to ARC</h1>
      <p class="welcomeToArc_slogan">It is time to learn.</p>
      <hr class="my-4">
      {% comment %} <p>Check out all our courses.</p> {% endcomment %}
      <a class="btn btn-primary btn-lg" href="{% url 'profile' %}" role="button">My Profile</a>
      <a class="btn btn-primary btn-lg" href="{% url 'course_list' %}" role="button">All Courses</a>
  </div>
  <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </section>
  <div class="unlock-oportunity jumbotron p-4 p-md-5 text-white bg-dark">
      <div class="text-center col-md-6 px-0">
        <h1 class="display-4 font-italic">Unlock Oportunity</h1>
        <p class="lead my-3">Yesterday is gone. Tomorrow is untouchable.</p>
        <p class="lead my-3"></p>
        <p class="lead mb-0"><a href="accounts/profile/" class="text-white font-weight-bold">Today is all you really got.</a></p>
      </div>
      <button class="unlock-oportunity-btn btn btn-warning">Click here to unlock your oportunities</button>
  </div>
  <div class="hp-topics row">
        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-kF4xXbQgyaOrdu7IqC5XoRgcFYo8NKMBNFgvazVtWXTpa2tv&s">
          <h2>Cooking</h2>
          <p class="topic-description">Cooking food properly helps to avoid food poisoning. Most raw foods feature food-borne pathogens such as viruses, bacteria, parasites and viruses that can seriously harm and kill a human being. Cooking ensures that all the micro-organisms are destroyed, which make food safe for human consumption.</p>
          <p><a class="btn btn-info" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://i.pinimg.com/originals/0f/8b/28/0f8b2870896edcde8f6149fe2733faaf.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <div>
            <h2>Coding</h2>
            <p class="text-center topic-description">Coding is a basic literacy in the digital age, and it is important for kids to understand and be able to work with and understand the technology around them. Having children learn coding at a young age prepares them for the future. Coding helps children with communication, creativity, math,writing, and confidence.</p>
          </div>
          <p><a class="btn btn-info" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://fbcd.co/product-lg/bc25b6eff2622fdfc2b9bea290763816_resize.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <h2>Fintess</h2>
          <p class="topic-description">Regular exercise and physical activity promotes strong muscles and bones. It improves respiratory, cardiovascular health, and overall health. Staying active can also help you maintain a healthy weight, reduce your risk for type 2 diabetes, heart disease, and reduce your risk for some cancers.</p>
          <p><a class="btn btn-info" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Punny headline</h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
</body>


{% endblock %}