{% extends 'base.html' %}

{% block content %}
<img class="profile-background-img" src="https://images.unsplash.com/photo-1507842217343-583bb7270b66">
<div class="container mt-4 profile-area p-4 rounded-lg shadow" >
  <div class="row">
    <div class="col-sm-6">
      <div class="card rounded-lg shadow profile-secondary">
        <div class="card-body">
          <h5 class="card-title">{{user.first_name}} {{user.last_name}} - {{user.email}}</h5>
          <a href="{% url 'course_create' %}" class="btn btn-dark profile-button-top shadow-sm">Create New Course</a>
          <a href="{% url 'course_list' %}" class="btn btn-dark profile-button-top shadow-sm">See All Courses</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card rounded-lg shadow profile-secondary">
          <div class="card-header">
            <p class="card-title">{{user.username}}'s Profile</p>
            <p class="card-subtitle mb-2">Last login: {{user.last_login}}</p>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- COURSE PURCHASE + CREATED  -->
<div class="container d-flex flex-row justify-content-around mt-4 mb-5 profile-area p-4 rounded-lg shadow" id="profile-created-course-purchase-area">
  <div class="row container-fluid">
    <!-- COURSE CREATE START -->
    <div class="d-flex flex-column col-sm-6" id="course-created-column">    
      <div class="accordion" id="course-profile-created-courses-accordion">
        <div class="card rounded-lg shadow-lg profile-secondary">
          <div class="card-header shadow">
            <h2>Manage My Created Courses</h2>           
          </div>
          {% for course in courses %}
          <div class="card-header shadow-sm" id="{{course.slug}}-heading">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse" data-target="#{{course.slug}}" aria-expanded="false" aria-controls="{{course.slug}}">
                {{course.title}}
              </button>
            </h2>
          </div>      
          <div id="{{course.slug}}" class="collapse" aria-labelledby="{{course.slug}}-heading" data-parent="#course-profile-created-courses-accordion">
            <div class="card-body rounded shadow-sm">
              <a href="{% url 'course_detail' course_slug=course.slug %}">
                <img class="rounded shadow" src="{{course.photo_url}}" alt="{{course.title}}" class="course-pic">      
              </a>
              <p>
                <span>
                  <a class="profile-area-links" href="{% url 'course_edit' pk=course.pk %}">Edit</a>
                </span>
                <span>
                  <a class="profile-area-links" href="{% url 'course_delete' course_slug=course.slug %}">Delete</a>
                </span>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- COURSE CREATED COLLAPSE END -->    
    <!-- COURSE PURCHASES START -->
    <div class="d-flex flex-column col-sm-6" id="profile-courses-purchased-column rounded-lg shadow">
      <div class="card mb-2 rounded shadow-sm profile-secondary">
        <div class="card-header rounded shadow-sm">
          <h2>My Purchases</h2>
        </div>
      {% for purchase in purchases %}
        <img class="rounded shadow-lg" src="{{purchase.course.photo_url}}" class="card-img-top" alt="{{purchase.course.title}}">
        <div class="card-body rounded shadow-sm">
          <h5 class="card-title"><a class="card-link profile-area-links" href="{% url 'course_detail' course_slug=purchase.course.slug %}">{{purchase.course.title}} Details</a></h5>
          <p class="card-text">Description: {{purchase.course.description}}</p>
        </div>
        <div class="card-body">
          <a href="{% url 'purchase_delete' course_slug=purchase.course.slug  purchase_pk=purchase.pk %}" class="card-link profile-area-links">Remove Purchase</a>
          <ul class="list-group list-group-flush">
            <li class="rounded profile-tertiary list-group-item">Course Creator: {{purchase.course.user.first_name}} {{purchase.course.user.last_name}}</li>
            <li class="rounded profile-tertiary list-group-item">Start Date: {{purchase.course.start_date}}</li>
            <li class="rounded profile-tertiary list-group-item">End Date: {{purchase.course.end_date}}</li>
            <li class="rounded profile-tertiary list-group-item">Category: {{purchase.course.category}}</li>
          </ul>
        </div>
      {% endfor %}
      </div>    
    </div>
      <!-- COURSE PURCHASES END -->
  </div>
</div>

{% endblock %}
