/* GLOBAL VARIABLES **************************************************/

* {
  box-sizing: border-box;
  animation-delay: 0.75s;
}

/* BASE HTML ****************************************************************************/

.welcome-user-container {
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
}

.nav-item {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  font-size: 1.2em;
}

.navbar {
  background-color: rgba(248, 249, 250, 0.66);
}

#topnav-brand {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1),
    3px 2px 4px rgba(100, 100, 100, 0.8), 2px 3px 8px rgba(183, 183, 183, 0.71),
    4px 4px 10px rgba(183, 183, 183, 0.54);
  font-size: 1.8em;
}

.nav-link {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* PROFILE PAGE******************************************************************* */

.profile-background-img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.profile-area {
  background-color: rgba(82, 58, 46, 0.5);
}

.profile-secondary {
  background-color: rgba(200, 200, 200, 1);
}

.profile-tertiary {
  background-color: rgba(82, 58, 46, 0.75);
}

.profile-button-top {
  background-color: #162523;
}

.profile-area-links {
  color: #b63a2e;
  font-size: 1.5em;
}
/* HOME PAGE *************************************************/

.home-page-body {
  background: black;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: auto;
  margin-left: auto;
}

.welcomeToArc_container {
  background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1753&q=80");
  color: azure;
}

.welcomeToArc_title {
  font-size: 100px;
  font-family: "McLaren", cursive;
  text-shadow: -8px -7px 8px rgba(0, 0, 0, 0.74);
}

.welcomeToArc_slogan {
  font-size: 50px;
  margin-top: -20px;
  font-family: "Abril Fatface", cursive;
  text-shadow: 8px 6px 8px rgba(71, 0, 0, 1);
}

.new-here {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
}

.position-relative {
  margin: 0 !important;
}

.jumbotron-heading {
  font-family: "Abril Fatface", cursive;
  color: white;
  margin-bottom: 40px;
  margin-top: -30px;
}

.hp-topics {
  margin: 1px;
  color: white;
  border-top: #ddd;
  background-color: #660000;
}

.bd-placeholder-img {
  margin-bottom: 50px;
}

.unlock-oportunity {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}

.unlock-oportunity-btn {
  margin-top: 40px;
  font-size: 30px;
  font-family: "Poiret One", cursive;
}

.unlock-oportunity-btn:hover {
  transform: scale(1.1);
  transition: transform 0.4s, opacity 0.5s;
}

.hp-about-us {
  font-family: "Poiret One", cursive;
  font-size: 100px;
}

.hp-about-us-description {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  margin-bottom: 40px;
}

.hp-about-us-btn:hover {
  transform: scale(1.8);
  transition: transform 0.2s, opacity 0.5s;
}

.testimonial {
  font-style: italic;
  color: #ddd;
  font-family: "Poiret One", cursive;
}

.testimony-img {
  border-radius: 20px;
}

.topic-description {
  color: white;
}

.col-lg-4 {
  text-align: center;
  font-family: "Poiret One", cursive;
}

/* HOME PAGE LOGED ********************************************************/

.home-page-loged {
  min-width: 100%;
}

.full-screen-video-wrap video {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .full-screen-video-wrap video {
    left: 50%;
    margin-left: -512px;
  }
}

.home-page-loged-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 150px 0;
  color: whitesmoke;
}

.cover-heading {
  align-self: center;
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  text-shadow: 6px 1px 21px rgba(0, 0, 0, 0.95);
}

#homepage-loggedin-my-profile {
  text-shadow: 2px 0px 5px rgba(0, 0, 0, 1);
  font-size: 1.2em;
}

.home-page-loged-content p {
  align-self: center;
  font-family: "Poiret One", cursive;
  font-size: 30px;
}
/* LOGIN PAGE **************************************************/
.form-section {
  width: max-content;
  padding: 15px;
  color: rgb(255, 255, 255);
  display: grid;
  place-content: center;
  text-align: center;
  background: rgb(96, 96, 96);
  margin-top: 10vh;
}

.login-img {
  background: url(../img/star-wars-stormtrooper-digital-art-wallpaper-preview.jpg)
    no-repeat center center fixed;
  background-size: cover;
}

.register-img {
  background: url(../img/dart-veider-darth-vader-binary-code-star-wars-matritsa-kod-m.jpg)
    no-repeat center center fixed;
  background-size: cover;
}

/* https://codepen.io/JamieMaguire/pen/MyPboB?editors=0100 */

.A-login {
  background: url("http://i.giphy.com/ZAseSBcoRly1i.gif") repeat;
  background-position: 10px;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.R-login {
  background: url("http://i.giphy.com/xTiTnF2bsvgYf22cUg.gif") repeat;
  background-position: 10px;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 40%;
  background-position-y: 0%;
  filter: grayscale(0.75);
}

.C-login {
  background: url("http://i.giphy.com/l41lGRYy2zkAjnfhK.gif") repeat;
  background-position: 10px;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: -48px;
  filter: grayscale(1);
}

.moveBox-Login {
  margin: 0;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form-section form {
  width: 100%;
  min-width: 30vw;
}

.form-section p {
  display: flex;
  flex-direction: column;
}
.form-section {
  margin: 10px;
}

.form-section button {
  background-color: rgb(30, 215, 96);
  border: none;
  border-radius: 5%;
  font-size: 1.5em;
  padding: 8px;
  color: rgb(255, 255, 255);
}

/* REGISTER PAGE **************************************************/

.welcome-register {
  background: url("https://media.giphy.com/media/xTiTnsQ8rNxU2lwely/giphy.gif")
    repeat;
  font-size: 100px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-y: -175px;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.7);
}

.moveBox-Register {
  margin: 0;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#register-form {
  background-color: rgb(96, 96, 96, 0.66);
}

/* COURSE LIST **************************************************/
.course-list-intro {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1753&q=80");
  min-height: 400px;
  width: 100%;
  justify-content: center;
}

.course-list-intro-container {
  display: flex;
  color: whitesmoke;
  font-family: "Poiret One", cursive;
  align-self: center;
  flex-direction: column;
}

.course-list-intro-text {
  font-size: 90px;
}
.course-list-main {
  background-color: rgba(187, 187, 187, 0.4);
  width: 100%;
}

.course-list-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.course-list-div {
  display: flex;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  clip-path: polygon(50% 0, 100% 100%, 0 50%, 0 0);
  transition: clip-path 1s;
  margin: 40px auto;
}

.lastdiv {
  display: flex;
  flex-direction: column;
}

.course-list-div:hover {
  clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
  transition: clip-path 0.3s;
}

.course-list-div-btn {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.btn-sm {
  margin: 4px;
}
.course-list-div-category {
  font-family: "Poiret One", cursive;
}
.course-list-div-title {
  font-family: "Abril Fatface", cursive;
  text-shadow: -4px -6px 8px rgba(46, 229, 82, 0.16);
}

.course-list-img-container {
  width: 300px;
  height: 200px;
}

.course-list-img {
  border-radius: 10px;
  opacity: 0.9;
  width: 100%;
  overflow: hidden;
}

.course-pic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#course-list-h2 {
  text-shadow: 2px 2px 10px rgba(33, 206, 199, 0.23);
}

/* COURSE FORM ****************************************************** */

.create-course-main {
  background-image: url("https://i.imgur.com/3tQToHD.jpg?1");
  padding: 80px;
}

.create-course-section {
  display: flex;
  justify-content: space-evenly;
}

.course-form-label {
  font-size: 35px;
  font-family: "Poiret One", cursive;
}

.A-course {
  background: url("http://i.giphy.com/ZAseSBcoRly1i.gif") repeat;
  background-position: 10px;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.R-course {
  background: url("http://i.giphy.com/xTiTnF2bsvgYf22cUg.gif") repeat;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 40%;
  background-position-y: -50px;
  filter: grayscale(0.95);
}

.C-course {
  background: url("http://i.giphy.com/l41lGRYy2zkAjnfhK.gif") repeat;
  background-position: 10px;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.moveBox-create-course {
  margin: 0 auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-height: 300px;
}

/* ABOUT US PAGE **************************************************/

.about_page_span {
  color: red;
  size: 2em;
}

.about_page_div {
  background-image: url("https://www.telenor.com/wp-content/uploads/2018/07/artifiticial-intelligence-1250x585.jpg");
  background-size: auto;
}

#about-us-brand {
  text-shadow: -6px 0px 20px rgba(161, 130, 45, 0.75);
}

.featurette {
  font-size: 1.2rem;
}

/* RESPONSIVE SECTION  */

/* RESPONSIVE TEXT SIZING */

@media (max-width: 576px) {
  h2,
  h3,
  .card-link,
  .hp-about-us,
  .hp-about-us-description,
  .welcomeToArc_slogan,
  .welcomeToArc_title {
    font-size: 1rem;
  }

  .card-title {
    font-size: 0.7rem;
  }

 /* RESPONSIVE CREATE COURSE FORM   */
  .create-course-main {
    padding: 5px;
  }

  #course-form-description {
    width: 75%;
  }

  /* RESPONSIVE COURSE LIST AREA */
  .course-list-intro {
    min-height: 75px;
  }

  .course-list-intro-text {
    font-size: 2rem;
  }

  .course-list-img {
    width: 50%;
  }

/* RESPONSIVE COURSE DETAIL AREA  */
  #course-detail-description {
    width: 300px;
  }

  /* RESPONSIVE LOGIN PAGE */
  #login-page-form {
    margin-top: 25%;
  }
}


