/* GLOBAL VARIABLES **************************************************/

* {
  box-sizing: border-box;
}

/* BASE HTML ****************************************************************************/

.welcome-user-container {
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
}

.nav-item {
  font-family: "Abril Fatface", cursive;
}

/* PROFILE PAGE******************************************************************* */

/* HOME PAGE *************************************************/

.home-page-body {
  background: black;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.welcomeToArc_container {
  background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1753&q=80");
  color: azure;
  width: 100%;
}

.welcomeToArc_title {
  font-size: 100px;
  font-family: "McLaren", cursive;
}

.welcomeToArc_slogan {
  /* max-width: 20px; */
  font-size: 50px;
  margin-top: -30px;
}

.hp-topics {
  /* margin-left: 90px; */
  color: white;
}

.bd-placeholder-img {
  margin-bottom: 50px;
}

.unlock-oportunity {
  display: flex;
  justify-content: space-evenly;
}

.unlock-oportunity-btn {
  width: 300px;
  font-size: 30px;
  font-family: "Poiret One", cursive;
}

.unlock-oportunity-btn:hover {
  transform: scale(1.1);
  transition: transform 0.4s, opacity 0.5s;
}

.hp-about-us {
  font-family: "Poiret One", cursive;
  font-size: 100px;
}

.hp-about-us-description {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  margin-bottom: 40px;
}

.hp-about-us-btn:hover {
  transform: scale(1.8);
  transition: transform 0.2s, opacity 0.5s;
}

.testimonial {
  font-style: italic;
  color: #ddd;
  font-family: "Poiret One", cursive;
}
.testimony-img {
  border-radius: 20px;
  margin-left: 150px;
}

.topic-description {
  color: white;
}

.col-lg-4 {
  text-align: center;
  font-family: "Poiret One", cursive;
}

/* LOGIN PAGE **************************************************/
.form-section {
  width: max-content;
  /* margin-right: auto; */
  padding: 15px;
  color: rgb(255, 255, 255);
  display: grid;
  place-content: center;
  text-align: center;
  background: rgb(96, 96, 96);
  margin-top: 10vh;
}

.login-img {
  background: url(../img/star-wars-stormtrooper-digital-art-wallpaper-preview.jpg)
    no-repeat center center fixed;
  background-size: cover;
}

.register-img {
  background: url(../img/stormtrooper-sketches-star-wars-wallpaper-preview.jpg)
    no-repeat center center fixed;
  background-size: cover;
}

/* https://codepen.io/JamieMaguire/pen/MyPboB?editors=0100 */

.A {
  background: url("http://i.giphy.com/ZAseSBcoRly1i.gif") repeat;
  /* background: url('http://i.giphy.com/8SylEdgXn0BIQ.gif') repeat */

  background-position: 10px;
  font-size: 400px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.R {
  /* background: url("http://i.giphy.com/ZAseSBcoRly1i.gif") repeat; */
  /* background: url('http://i.giphy.com/8SylEdgXn0BIQ.gif') repeat; */
  background: url("http://i.giphy.com/l41lGRYy2zkAjnfhK.gif") repeat;
  /* background: url('http://giphygifs.s3.amazonaws.com/media/hlWy1CHPoJ8qs/giphy.gif') repeat; */

  background-position: 10px;
  font-size: 400px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.C {
  /* background: url('http://i.giphy.com/xTiTnF2bsvgYf22cUg.gif') repeat; */
  /* background: url('http://i.giphy.com/l41lGRYy2zkAjnfhK.gif') repeat; */
  /* background: url('http://i.giphy.com/l41lGRYy2zkAjnfhK.gif') repeat; */
  background: url("http://i.giphy.com/8SylEdgXn0BIQ.gif") repeat;

  background-position: 10px;
  font-size: 400px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.moveBox-Login {
  margin: 50px auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* 
#login-cycle-img {
  position:relative;
  top:0;
  width:100%;
  height:635px;
  background:
      url(../img/lego-stormtrooper-star-wars-wallpaper-preview.jpg),
      url(../img/low-poly-stormtrooper-star-wars-boba-fett-wallpaper-preview.jpg),
      url(../img/star-wars-stormtrooper-digital-art-wallpaper-preview.jpg),
      url(../img/star-wars-stormtrooper-movies-wallpaper-preview.jpg),
      url(../img/star-wars-xenomorph-stormtrooper-artwork-wallpaper-preview.jpg),
      url(../img/simple-background-simple-star-wars-stormtrooper-wallpaper-preview.jpg);
  background-repeat:no-repeat;
  background-size:100%;
} */

/* https://css-tricks.com/creating-a-css-sliding-background-effect/ */
/* .wrapper {
  overflow: hidden;
}

.sliding-background {
  background: url("../img") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
} */

.form-section form {
  width: 100%;
  min-width: 30vw;
}

.form-section p {
  display: flex;
  flex-direction: column;
}
.form-section {
  margin: 10px;
}

.form-section button {
  background-color: rgb(30, 215, 96);
  border: none;
  border-radius: 5%;
  font-size: 1.5em;
  padding: 8px;
  color: rgb(255, 255, 255);
}

/* .login-section form {
  width: 100%;
  min-width: 30vw;
}

.login-button {
  display: block;
  width: 240px;
  height: 40px;
  padding: 0;
  margin: 10px 20px 10px;
  font-weight: 700;
  color: #fff;
  background-color: #22c08a;
  border: none;
  border-radius: 20px;
  transition: background-color 0.1s ease-in-out;
  user-select: none;
}

.login-button:hover {
  background-color: #26d69a;
}

.login-button:active {
  background-color: #1eaa7a;
} */

/* .login-container {
  width: 40vw;
  height: 50vh;
  padding: 50px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid red;
} */

/* REGISTER PAGE **************************************************/

/* ABOUT US PAGE **************************************************/

/* PROFILE PAGE **************************************************/

/* COURSE LIST **************************************************/

.course-pic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 150px;
}

.course-pic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/* COURSE FORM ****************************************************** */

/* .course_form_div {
  padding: 20px;
  margin: 5px;
  margin: 5px;
  padding: 8px;
  background: rgba(79, 74, 74, 0.42);
  text-decoration: none;
  color: white;
  border-radius: 10px;
} */

.course-form-section {
  display: flex;
  justify-content: space-evenly;
}

.course-form-label {
  font-size: 20px;
}

.course_form_btn {
  width: 100px;
  height: 30px;
  background-color: blue;
  color: #fff;
  border-radius: 10px;
}

.course_form_input {
  width: 100%;
}

.course_form_textarea {
  width: 100%;
}

.moveBox-create-course {
  margin: 50px auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  max-height: 300px;
}
