/* GLOBAL VARIABLES **************************************************/

* {
  box-sizing: border-box;
  animation-delay: .75s;
}

/* BASE HTML ****************************************************************************/

.welcome-user-container {
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
}

.nav-item {
  font-family: "Abril Fatface", cursive;
}

.navbar {
  background-color: rgba(248, 249, 250, .66);

}

/* PROFILE PAGE******************************************************************* */

.profile-background-img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* position: absolute;
  z-index: -1;
  opacity: 0.8; */
}

.profile-area {
  background-color: rgba(255, 255, 255, 0.75) ;

}

/* HOME PAGE *************************************************/

.home-page-body {
  background: black;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.welcomeToArc_container {
  background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1753&q=80");
  color: azure;
}

.welcomeToArc_title {
  font-size: 100px;
  font-family: "McLaren", cursive;
}

.welcomeToArc_slogan {
  font-size: 50px;
  margin-top: -20px;
  font-family: "Abril Fatface", cursive;
}

.new-here {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
}

.position-relative {
  margin: 0 !important;
}

.jumbotron-heading {
  font-family: "Abril Fatface", cursive;
  color: white;
  margin-bottom: 40px;
  margin-top: -30px;
}

.hp-topics {
  margin: 1px;
  color: white;
  border-top: #ddd;
  background-color: #660000;
}

.bd-placeholder-img {
  margin-bottom: 50px;
}

.unlock-oportunity {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}

.unlock-oportunity-btn {
  margin-top: 40px;
  font-size: 30px;
  font-family: "Poiret One", cursive;
}

.unlock-oportunity-btn:hover {
  transform: scale(1.1);
  transition: transform 0.4s, opacity 0.5s;
}

.hp-about-us {
  font-family: "Poiret One", cursive;
  font-size: 100px;
}

.hp-about-us-description {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  margin-bottom: 40px;
}

.hp-about-us-btn:hover {
  transform: scale(1.8);
  transition: transform 0.2s, opacity 0.5s;
}

.testimonial {
  font-style: italic;
  color: #ddd;
  font-family: "Poiret One", cursive;
}

.testimony-img {
  border-radius: 20px;
  /* margin-left: 150px; */
}

.topic-description {
  color: white;
}

.col-lg-4 {
  text-align: center;
  font-family: "Poiret One", cursive;
}

/* HOME PAGE LOGED ********************************************************/

.home-page-loged {
  min-width: 100%;
}

.full-screen-video-wrap video {
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed; 
  top: 0; 
  left: 0; 
    
  z-index: -1; 
}

@media screen and (max-width: 1024px) { 
  .full-screen-video-wrap video {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.home-page-loged-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 150px 0;
  color: whitesmoke;
}

.cover-heading {
  align-self: center;
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
}

.home-page-loged-content p {
  align-self: center;
  font-family: "Poiret One", cursive;
  font-size: 30px;
}
/* LOGIN PAGE **************************************************/
.form-section {
  width: max-content;
  /* margin-right: auto; */
  padding: 15px;
  color: rgb(255, 255, 255);
  display: grid;
  place-content: center;
  text-align: center;
  background: rgb(96, 96, 96);
  margin-top: 10vh;
}

.login-img {
  background: url(../img/star-wars-stormtrooper-digital-art-wallpaper-preview.jpg)
    no-repeat center center fixed;
  background-size: cover;
}

.register-img {
  background: url(../img/dart-veider-darth-vader-binary-code-star-wars-matritsa-kod-m.jpg)
    no-repeat center center fixed;
  background-size: cover;
}

/* https://codepen.io/JamieMaguire/pen/MyPboB?editors=0100 */

.A-login {
  background: url("http://i.giphy.com/ZAseSBcoRly1i.gif") repeat;
  /* background: url('http://i.giphy.com/8SylEdgXn0BIQ.gif') repeat */

  background-position: 10px;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.R-login {
  /* background: url("http://i.giphy.com/ZAseSBcoRly1i.gif") repeat; */
  /* background: url('http://i.giphy.com/8SylEdgXn0BIQ.gif') repeat; */
  background: url("http://i.giphy.com/l41lGRYy2zkAjnfhK.gif") repeat;
  /* background: url('http://giphygifs.s3.amazonaws.com/media/hlWy1CHPoJ8qs/giphy.gif') repeat; */

  background-position: 10px;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.C-login {
  background: url('http://i.giphy.com/xTiTnF2bsvgYf22cUg.gif') repeat;
  /* background: url('http://i.giphy.com/l41lGRYy2zkAjnfhK.gif') repeat; */
  /* background: url('http://i.giphy.com/l41lGRYy2zkAjnfhK.gif') repeat; */
  /* background: url("http://i.giphy.com/8SylEdgXn0BIQ.gif") repeat; */

  background-position: 10px;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.moveBox-Login {
  margin: 0;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form-section form {
  width: 100%;
  min-width: 30vw;
}

.form-section p {
  display: flex;
  flex-direction: column;
}
.form-section {
  margin: 10px;
}

.form-section button {
  background-color: rgb(30, 215, 96);
  border: none;
  border-radius: 5%;
  font-size: 1.5em;
  padding: 8px;
  color: rgb(255, 255, 255);
}

/* REGISTER PAGE **************************************************/

.welcome-register {
  /* background: url('http://giphygifs.s3.amazonaws.com/media/hlWy1CHPoJ8qs/giphy.gif') repeat; */
  /* background: url('https://media.giphy.com/media/xTiTnsQ8rNxU2lwely/giphy.gif') repeat; */
  background: url("https://media.giphy.com/media/v78keJYH0Seys/200w_d.gif")
    repeat;
  background-position: 10px;
  font-size: 100px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 40%;
  background-position-y: -5px;
  filter: grayscale(0.9);
}

.moveBox-Register {
  margin: 0;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* PROFILE PAGE **************************************************/

/* COURSE LIST **************************************************/

.course-pic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 150px;
}

.course-pic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/* COURSE FORM ****************************************************** */

.create-course-main {
  background-image: url("https://i.imgur.com/3tQToHD.jpg?1");
  padding: 80px;
}

.create-course-section {
  display: flex;
  justify-content: space-evenly;
}

.course-form-label {
  font-size: 35px;
  font-family: "Poiret One", cursive;
}

/* .course_form_btn {
  width: 100px;
  height: 30px;
  background-color: blue;
  color: #fff;
  border-radius: 10px;
} */

/* .course_form_input {
  width: 100%;
}

.course_form_textarea {
  width: 100%;
} */

.A-course {
  background: url("http://i.giphy.com/ZAseSBcoRly1i.gif") repeat;
  /* background: url('http://i.giphy.com/8SylEdgXn0BIQ.gif') repeat */

  background-position: 10px;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.R-course {
  /* background: url("http://i.giphy.com/ZAseSBcoRly1i.gif") repeat; */
  /* background: url('http://i.giphy.com/8SylEdgXn0BIQ.gif') repeat; */
  background: url("http://i.giphy.com/l41lGRYy2zkAjnfhK.gif") repeat;
  /* background: url('http://giphygifs.s3.amazonaws.com/media/hlWy1CHPoJ8qs/giphy.gif') repeat; */

  background-position: 10px;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.C-course {
  background: url('http://i.giphy.com/xTiTnF2bsvgYf22cUg.gif') repeat;
  /* background: url('http://i.giphy.com/l41lGRYy2zkAjnfhK.gif') repeat; */
  /* background: url("http://i.giphy.com/8SylEdgXn0BIQ.gif") repeat; */

  background-position: 10px;
  font-size: 200px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 52%;
  background-position-y: 48px;
  filter: grayscale(1);
}

.moveBox-create-course {
  margin: 0 auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-height: 300px;
}

/* ABOUT US PAGE **************************************************/

.about_page_span {
  color: red;
  size: 2em;
}

.about_page_div {
  background-image: url("https://www.telenor.com/wp-content/uploads/2018/07/artifiticial-intelligence-1250x585.jpg");
  background-size: auto;
}
/* 
@media (min-aspect-ratio: 16/9) {
  .home-page-loged-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .home-page-loged-video {
    width: auto;
    height: 100%;
  }
} */

.about_page_four{
margin-top: 0;
background: gray;
}